body{background-color: aquamarine;
 background-image: url(../images/pNABjy.jpg); }
.Rakin{ text-align: center; background-image: radial-gradient(red 30%, green 50%);
}
.table{ border-width: 5px 7px 5px 7px;
 }